
.bg-container{
  background-image: url('https://i.pinimg.com/564x/a4/c9/b6/a4c9b64c2599e7b0ec967fff0a526b0c.jpg?ct=jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  
}
.bold-large-text {
  font-weight: bold;
  font-size: 1.9em; 
}
 
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
  
  .text-center {
    text-align: center;
  }
  
  .text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75; /* 28px */
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .title-font {
    font-size: 1.25rem; /* 20px */
  }
  
  .text-sm {
    font-size: 0.875rem; /* 14px */
  }
  
  .text-gray-500 {
    color: #6b7280; /* Gray-500 */
  }
  
  .text-gray-900 {
    color: #111827; /* Gray-900 */
  }
  
  .bg-indigo-500 {
    background-color: #6d28d9; /* Indigo-500 */
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }